# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
serverless.original.yml
.DS_Store
.webpack
.env
.env_prod
.eslintcache
.nyc_output
*.log
*logs
audit.json
reports/